./gui/__pycache__/
.DS_Store
./saved_model/
*.pyc
*.pyc
*.pyc
saved_model/fingerprint.pb
saved_model/saved_model.pb
saved_model/variables/variables.data-00000-of-00001
saved_model/variables/variables.index
pie_chart.png
*.lia
